name: Lint and Test Charts
on:
  pull_request:
    branches:
      - master
    paths:
      - 'charts/**'
      - '.github/workflows/chart-lint.yml'



jobs:

  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch history
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: git fetch --prune --unshallow

      - name: Run chart-testing (lint)
        id: lint
        uses: helm/chart-testing-action@v1.0.0
        with:
          command: lint

      - name: Set up Go 1.16
        uses: actions/setup-go@v1
        with:
          go-version: 1.16
        if: steps.lint.outputs.changed == 'true'

      - name: Build dast-operator Docker image
        run: |
          make docker-build
        if: steps.lint.outputs.changed == 'true'

      - name: Create kind cluster
        uses: helm/kind-action@v1.1.0
        with:
          cluster_name: "chart-testing"
        # Only build a kind cluster if there are chart changes to test.
        if: steps.lint.outputs.changed == 'true'

      - name: Load Docker images to kind
        run: |
          kind load docker-image --name chart-testing banzaicloud/dast-operator:latest
        if: steps.lint.outputs.changed == 'true'

      - name: Deploying cert-manager
        run: |
          kubectl get pod -A
          kubectl create namespace cert-manager
          helm repo add jetstack https://charts.jetstack.io
          helm repo update
          kubectl apply --validate=false -f https://github.com/jetstack/cert-manager/releases/download/v1.0.4/cert-manager.crds.yaml
          helm install cert-manager jetstack/cert-manager --namespace cert-manager --version v1.0.4
          timeout 100s hack/check-state.sh
        if: steps.lint.outputs.changed == 'true'

      - name: Run chart-testing (install)
        uses: helm/chart-testing-action@v1.0.0
        with:
          command: install
        if: steps.lint.outputs.changed == 'true'
